<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.ddservice.mapper.DdMenuMapper">
  <select id="findAll" resultType="string">
    select ParentOrderId, ChildOrderId, CreateTime, LastUpdateTime, Relation, IsDeleted from BaoYangOrderMapping where ChildOrderId = #{orderId} and IsDeleted = 0
  </select>
</mapper>
